.menu-items-container {
    border: 2px solid rgb(214, 12, 12);
  }
  
  .menu-item-card {
    border: 2px solid rgb(214, 12, 12);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .menu-item-card .food-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50rem;
  }
  
  .menu-item-card .food-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .menu-item-card .food-image {
    width: 10rem;
    height: 8rem;
  }

  .menu-item-card .food-count .addCart-btn {
    padding-inline: 1rem;
    padding-block: 0.25rem;
  }